################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BossfightUnitTested
/BossfightUnitTested/obj
/TestBossFight/obj
